# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.git0
/assets
/ToBeRefactored

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/font/roboto/Roboto-Bold.eot
src/assets/scss/free/_navbars.scss
src/assets/scss/free/modules/animations-extended/animations-extended.scss
src/assets/scss/free/modules/animations-extended/_module.scss
src/assets/scss/free/_treeview.scss
src/assets/scss/free/_tables.scss
src/assets/scss/free/_switch.scss
src/assets/scss/free/_steppers.scss
src/assets/scss/free/_pagination.scss
src/assets/scss/free/_input-group.scss
src/assets/scss/free/_list-group.scss
src/assets/scss/free/_loader.scss
src/assets/scss/free/_modals.scss
src/assets/scss/free/_msc.scss
src/assets/scss/addons/_directives.scss
src/assets/scss/free/_forms.scss
src/assets/scss/free/_footers.scss
src/assets/scss/free/_dropdowns.scss
src/assets/scss/free/_depreciated.scss
src/assets/scss/free/_carousels.scss
src/assets/scss/free/_cards.scss
src/assets/scss/free/_buttons.scss
src/assets/scss/free/_badges.scss
src/assets/scss/free/_animations-basic.scss
src/assets/scss/core/bootstrap/_variables.scss
src/assets/scss/core/bootstrap/_rfs.scss
src/assets/scss/core/bootstrap/_functions.scss
src/assets/scss/core/_waves.scss
src/assets/scss/core/_variables.scss
src/assets/scss/core/_typography.scss
src/assets/scss/core/_mixins.scss
src/assets/scss/core/_masks.scss
src/assets/scss/core/_helpers.scss
src/assets/scss/core/_global.scss
src/assets/scss/core/_colors.scss
src/assets/scss/addons/_hierarchical-display.scss
src/assets/scss/addons/_flags.scss
src/assets/font/roboto/Roboto-Thin.ttf
src/assets/scss/addons/_datatables-select.scss
src/assets/scss/addons/_datatables.scss
src/assets/scss/style.scss
src/assets/scss/mdb.scss
src/assets/scss/_custom-variables.scss
src/assets/scss/_custom-styles.scss
src/assets/scss/_custom-skin.scss
src/assets/img/svg/arrow_right.svg
src/assets/img/svg/arrow_left.svg
src/assets/img/overlays/09.png
src/assets/img/overlays/08.png
src/assets/img/overlays/07.png
src/assets/img/overlays/06.png
src/assets/img/overlays/05.png
src/assets/img/overlays/04.png
src/assets/img/overlays/03.png
src/assets/img/overlays/02.png
src/assets/img/overlays/01.png
src/assets/img/lightbox/preloader.gif
src/assets/img/lightbox/default-skin.svg
src/assets/img/lightbox/default-skin.png
src/assets/font/roboto/Roboto-Thin.woff2
src/assets/font/roboto/Roboto-Thin.woff
src/assets/font/roboto/Roboto-Bold.ttf
src/assets/font/roboto/Roboto-Thin.eot
src/assets/font/roboto/Roboto-Regular.woff2
src/assets/font/roboto/Roboto-Regular.woff
src/assets/font/roboto/Roboto-Regular.ttf
src/assets/font/roboto/Roboto-Regular.eot
src/assets/font/roboto/Roboto-Medium.woff2
src/assets/font/roboto/Roboto-Medium.woff
src/assets/font/roboto/Roboto-Medium.ttf
src/assets/font/roboto/Roboto-Medium.eot
src/assets/font/roboto/Roboto-Light.woff2
src/assets/font/roboto/Roboto-Light.woff
src/assets/font/roboto/Roboto-Light.ttf
src/assets/font/roboto/Roboto-Light.eot
src/assets/font/roboto/Roboto-Bold.woff2
src/assets/font/roboto/Roboto-Bold.woff
